<!-- <!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	
 -->
 <% include navBar.html %> 
 
 	<body>
		<div class="container px-5">
			<h1><%= __('Welcome to')  %> <%=title %></h1>

			<h2><%= __('These are the products that we have today:') %> </h2>

			<% anuncios.forEach(anuncio => { %>
			<div class="col-lg-2">
				<h1><%= anuncio.nombre %></h1>
				<% if (anuncio.venta == true) {%>
				<p>Artículo en venta</p>
				<% } else { %>
				<p>Busco para comprar</p>
				<% } %>

				<p><%= anuncio.precio %> euros</p>
				<p>#<%= anuncio.tags %></p>
				<img
					src="../images/<%= anuncio.foto %>"
					alt="imagen producto"
					style="max-width: 300px; max-height: 300px"
				/>
			</div>
			<% }); %>

		</div> 
	</body>
</html>
