<!-- <!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	
 -->
 <% include navBar.html %> 
 
 	<body>
		<div class="container-fluid">
			<h1><%= __('Welcome to')  %> <%=title %></h1>

			<h2><%= __('These are the products that we have today:') %> </h2>
			<div class="card-group">
			<% anuncios.forEach(anuncio => { %>
			<div class="card">
				<h3><%= anuncio.nombre %></h3>
				<% if (anuncio.venta == true) {%>
				<p><%= __('On sale')  %> </p>
				<% } else { %>
				<p><%= __('Want it!')  %></p>
				<% } %>

				<p><%= anuncio.precio %> euros</p>
				<p>#<%= anuncio.tags %></p>
				<img
					src="../images/<%= anuncio.foto %>"
					alt="imagen producto"
					style="max-width: 300px; max-height: 300px"
				/>
			</div>
			<% }); %>
			</div>
		</div>
		<% include footer.html %> 
	</body>
</html>
